<h3 class="ui header">{{t "forms.i-i-s-kursovaya1-конверт-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.имяДок
      class=(if (v-get validationModel "имяДок" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-конверт-e.имяДок-caption")
      data-test-i-i-s-kursovaya1-конверт-e-имяДок=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "имяДок" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.эксФайлы.имя
      class=(if (v-get validationModel.эксФайлы "имя" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-конверт-e.эксФайлы.имя-caption")
      data-test-i-i-s-kursovaya1-конверт-e-эксФайлы-имя=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.эксФайлы "имя" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.загрФайла.путьФайла
      class=(if (v-get validationModel.загрФайла "путьФайла" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-конверт-e.загрФайла.путьФайла-caption")
      data-test-i-i-s-kursovaya1-конверт-e-загрФайла-путьФайла=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.загрФайла "путьФайла" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.эксФайлы.репозиторий
      class=(if (v-get validationModel.эксФайлы "репозиторий" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-конверт-e.эксФайлы.репозиторий-caption")
      data-test-i-i-s-kursovaya1-конверт-e-эксФайлы-репозиторий=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.эксФайлы "репозиторий" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.видДок.наименование
      class=(if (v-get validationModel.видДок "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-конверт-e.видДок.наименование-caption")
      data-test-i-i-s-kursovaya1-конверт-e-видДок-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.видДок "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-конверт-e.эксФайлы-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.эксФайлы
      relationName="эксФайлы"
      projection="ЭксФайлыL"
      title=(t "forms.i-i-s-kursovaya1-конверт-e.эксФайлы-caption")
      readonly=readonly
      componentName="эксФайлыLookup"
      class=(if (v-get validationModel "эксФайлы" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-конверт-e-эксФайлы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "эксФайлы" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-конверт-e.загрФайла-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.загрФайла
      relationName="загрФайла"
      projection="ЗагрФайлаL"
      title=(t "forms.i-i-s-kursovaya1-конверт-e.загрФайла-caption")
      readonly=readonly
      componentName="загрФайлаLookup"
      class=(if (v-get validationModel "загрФайла" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-конверт-e-загрФайла=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "загрФайла" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-конверт-e.видДок-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.видДок
      relationName="видДок"
      projection="ВидДокL"
      title=(t "forms.i-i-s-kursovaya1-конверт-e.видДок-caption")
      readonly=readonly
      componentName="видДокLookup"
      class=(if (v-get validationModel "видДок" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-конверт-e-видДок=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "видДок" "message")}}
  </div>
</form>
