<h3 class="ui header">{{t "forms.i-i-s-kursovaya1-выгр-файла-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.имяФайла
      class=(if (v-get validationModel "имяФайла" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-выгр-файла-e.имяФайла-caption")
      data-test-i-i-s-kursovaya1-выгр-файла-e-имяФайла=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "имяФайла" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.конверт.имяДок
      class=(if (v-get validationModel.конверт "имяДок" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya1-выгр-файла-e.конверт.имяДок-caption")
      data-test-i-i-s-kursovaya1-выгр-файла-e-конверт-имяДок=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.конверт "имяДок" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya1-выгр-файла-e.конверт-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.конверт
      relationName="конверт"
      projection="КонвертL"
      title=(t "forms.i-i-s-kursovaya1-выгр-файла-e.конверт-caption")
      readonly=readonly
      componentName="конвертLookup"
      class=(if (v-get validationModel "конверт" "isInvalid") "error")
      data-test-i-i-s-kursovaya1-выгр-файла-e-конверт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "конверт" "message")}}
  </div>
</form>
